<ion-view hide-nav-bar="true" view-title="Challenges">
    <ion-content data-ng-init="getData()" class="padding">
        <div class="card card-list">
            <div class="item item-text-wrap" ng-repeat="item in chals">
                <ion-toggle
                        toggle-class="toggle-calm"
                        ng-model="item.checked" 
                        ng-checked="item.checked"
                        ng-change="updateStorage()">
                  {{item.text}}
                </ion-toggle>
            </div>
        </div>
    </ion-content>
</ion-view>